In [1]:
import pandas as pd
import numpy as np

train_df = pd.read_csv('./zindi/Train.csv')
train_df.head()

               Image_id  Label
0  id_02amazy34fgh2.jpg      1
1  id_02mh3w48pmyc9.jpg      0
2  id_02rpb463h9d3w.jpg      0
3  id_02wc3jeeao8ol.jpg      1
4  id_03t2hapb8wz8p.jpg      1

In [18]:
# Seed everything Code for Reproduction

def seed_everything(seed: int = 20220510):
    random.seed(seed)
    np.random.seed(seed)
    os.environ["PYTHONHASHSEED"] = str(seed)
    torch.manual_seed(seed)
    torch.cuda.manual_seed(seed)  # type: ignore
    torch.backends.cudnn.deterministic = True  # type: ignore
    torch.backends.cudnn.benchmark = True

In [2]:
len(train_df['Label'])

1619

In [3]:
label1 = train_df[train_df['Label'] == 1]
label0 = train_df[train_df['Label'] == 0]

print(len(label1), len(label0))

809 810

In [4]:
val_label0_number = int(len(label0) * 0.3)
val_label1_number = int(len(label1) * 0.3)

print(val_label0_number, val_label1_number)

243 242

In [19]:
# for validation set

val_label0_sample = label0.sample(val_label0_number, replace = False)
val_label1_sample = label1.sample(val_label1_number, replace = False)

print(val_label0_sample.head())
print(val_label1_sample.head())

                  Image_id  Label
10    id_09v3am3ppzesz.jpg      0
676   id_f1fy2d0gs2ad3.jpg      0
985   id_m5bqmwt8jn00b.jpg      0
1226  id_rqu358u040d4d.jpg      0
1070  id_o20agna9okztq.jpg      0
                  Image_id  Label
415   id_9iy09nobj5qfr.jpg      1
690   id_fg90hfic5scaf.jpg      1
1319  id_toasethei0myq.jpg      1
498   id_bcxa93ovyp0de.jpg      1
933   id_l157jdokx289h.jpg      1

In [20]:
val_df = pd.concat([val_label0_sample, val_label1_sample])
val_df = val_df.sort_index()

In [21]:
val_df.head()

               Image_id  Label
1  id_02mh3w48pmyc9.jpg      0
5  id_04xrxyd43rlgz.jpg      0
6  id_05gqx7h8y6iye.jpg      1
7  id_06le9g89kqth5.jpg      1
8  id_082w0qygo3eth.jpg      0

In [22]:
val_df.to_csv('./zindi/validation.csv')

# For imbalanced sample

In [23]:
imbal_1percent_number = int(0.01 * len(label1))
imbal_5percent_number = int(0.05 * len(label1))
imbal_10percent_number = int(0.10 * len(label1))

In [25]:
# for imbalanced sample

imbal_1percent = label1.sample(imbal_1percent_number, replace = False)
imbal_5percent = label1.sample(imbal_5percent_number, replace = False)
imbal_10percent = label1.sample(imbal_10percent_number, replace = False)

In [26]:
print(imbal_1percent.head())
print(imbal_5percent.head())
print(imbal_10percent.head())

                  Image_id  Label
695   id_fj65dz0bfm6nt.jpg      1
646   id_eal611h60yy7i.jpg      1
1141  id_ppykr0nhj0w99.jpg      1
721   id_g48ln6mcu53wc.jpg      1
735   id_ge6fwz5xy29wz.jpg      1
                  Image_id  Label
925   id_kw6qtxkwb06wh.jpg      1
1529  id_y0ng35bhfb79i.jpg      1
548   id_c7q7drtuc7oow.jpg      1
1130  id_pg7to98xw1lxl.jpg      1
626   id_dub314rps0oor.jpg      1
                  Image_id  Label
1574  id_z25btxim2egxf.jpg      1
1247  id_s76uru1g09t7r.jpg      1
919   id_kl493gm6a3eeq.jpg      1
650   id_ee07amcwhqkm9.jpg      1
74    id_1s7wouqgxxmds.jpg      1

In [27]:
imbal_1per = pd.concat([label0, imbal_1percent])
imbal_1per = imbal_1per.sort_index()

imbal_5per = pd.concat([label0, imbal_5percent])
imbal_5per = imbal_5per.sort_index()

imbal_10per = pd.concat([label0, imbal_10percent])
imbal_10per = imbal_10per.sort_index()

In [28]:
imbal_1per.to_csv('./zindi/imbalanced_1%_train.csv')
imbal_5per.to_csv('./zindi/imbalanced_5%_train.csv')
imbal_10per.to_csv('./zindi/imbalanced_10%_train.csv')