In [1]:
import pandas as pd
import numpy as np

train_df = pd.read_csv('./zindi/New_Train.csv')
train_df.head()

               Image_id  Label
0  id_02mh3w48pmyc9.jpg      0
1  id_02rpb463h9d3w.jpg      0
2  id_02wc3jeeao8ol.jpg      1
3  id_04xrxyd43rlgz.jpg      0
4  id_082w0qygo3eth.jpg      0

In [2]:
len(train_df['Label'])

891

In [3]:
label1 = train_df[train_df['Label'] == 1]
label0 = train_df[train_df['Label'] == 0]

In [9]:
40 / len(label0)

0.04938271604938271

In [4]:
highly_imbal = label1.sample(40)

In [5]:
highly_imbal

                 Image_id  Label
491  id_jvfpr557t6464.jpg      1
766  id_v0rt6r75rgx0z.jpg      1
308  id_c7q7drtuc7oow.jpg      1
107  id_4g2pugodyee9l.jpg      1
416  id_ginlv8ok6hjte.jpg      1
543  id_m4yhsb94ydp1d.jpg      1
879  id_zn76xuzlkt55g.jpg      1
85   id_3puzp48lduc2o.jpg      1
72   id_30wlu5w2n3x6j.jpg      1
444  id_hx34qf46b3pit.jpg      1
115  id_4qjf4zounabr6.jpg      1
150  id_5zmy54ix4csdt.jpg      1
165  id_6ocw6ebiyni1s.jpg      1
733  id_tcavm0fx532uy.jpg      1
329  id_d8gvs6d9bzxgf.jpg      1
79   id_3furtaxilc2c3.jpg      1
506  id_kej7y3wqoxrfn.jpg      1
684  id_rinr4ilicj42k.jpg      1
820  id_x68ns4oamnzkt.jpg      1
777  id_vih6c9ebaji56.jpg      1
516  id_kw6qtxkwb06wh.jpg      1
663  id_qnv83lujth62s.jpg      1
591  id_nuyz7ndtc4pfy.jpg      1
788  id_w69qxg8f9yo3e.jpg      1
294  id_bw8au80rh4ncu.jpg      1
69   id_2xhaay1w9lg2x.jpg      1
389  id_few0gq7m1rh2v.jpg      1
119  id_4ur6zld0ovojy.jpg      1
251  id_ag78ldpe8hqd1.jpg      1
265  id_arj9up80ge8se.jpg      1
470  id_irzhdfdv8vl0u.jpg      1
654  id_qbkjodxmru88r.jpg      1
637  id_ppykr0nhj0w99.jpg      1
309  id_c81gd4luodn1h.jpg      1
181  id_734crksk17onh.jpg      1
622  id_oxklns7bzac7t.jpg      1
797  id_wgd6xy640se3y.jpg      1
335  id_dmic7csaxcbdn.jpg      1
571  id_n102pptl67892.jpg      1
853  id_yjgw1k688wqkd.jpg      1

In [6]:
highly_im = pd.concat([label0, highly_imbal])
highly_im = highly_im.sort_index()

In [23]:
highly_im.to_csv('./zindi/imbalanced_5%_train.csv')