In [1]:
import pandas as pd
import numpy as np

train_df = pd.read_csv('./zindi/New_Train.csv')
train_df.head()

               Image_id  Label
0  id_02mh3w48pmyc9.jpg      0
1  id_02rpb463h9d3w.jpg      0
2  id_02wc3jeeao8ol.jpg      1
3  id_04xrxyd43rlgz.jpg      0
4  id_082w0qygo3eth.jpg      0

In [18]:
len(train_df['Label'])

891

In [13]:
label1 = train_df[train_df['Label'] == 1]
label0 = train_df[train_df['Label'] == 0]

In [8]:
highly_imbal = label1.sample(9)

In [12]:
highly_imbal

                 Image_id  Label
234  id_9ppo1mptopnvf.jpg      1
174  id_6v4pcmq943hir.jpg      1
777  id_vih6c9ebaji56.jpg      1
516  id_kw6qtxkwb06wh.jpg      1
363  id_ehfe3rgc4h8wp.jpg      1
107  id_4g2pugodyee9l.jpg      1
571  id_n102pptl67892.jpg      1
880  id_znfv94esdbiae.jpg      1
591  id_nuyz7ndtc4pfy.jpg      1

In [22]:
highly_im = pd.concat([label0, highly_imbal])
highly_im = highly_im.sort_index()

In [23]:
highly_im.to_csv('./zindi/highly_imbalanced_train.csv')